<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta charset="UTF-8">-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--<meta name="viewport" content="initial-scale=1.25, user-scalable = no">-->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <!--<script src="public/js/filterrs.js"></script>-->
    <script src="public/js/crossfilter.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="public/vendor/jquery/jquery.min.js"></script>
    <!--<script src="public/js/jqcloud2/dist/jqcloud.min.js"></script>-->
    <script src="public/js/jquery.awesomeCloud-0.2.js"></script>

    <!--<link rel="stylesheet" href="public/js/jqcloud2/dist/jqcloud.min.css">-->
    <meta charset="UTF-8">
    <title>Yolo Team:Trip Advisor Dataset: Datathon2017</title>
    <link href="public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/css/customstyle.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="public/css/style1.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="public/css/brush.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>



    <![endif]-->
</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#page-top">Datathon 2017</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#portfolio">Overview</a>
                </li>
                <li class="page-scroll">
                    <a href="#about">Insights</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Prediction</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header>
    <div id="plot1" class="container">
        <h4 style="color:black"> Data Distribution for Trip Advisor (Brushing and Linking enabled)<br>
            Exponential growth from November until January, with peak being in January</h4>
        <script src="public/js/brushExec.js"></script>
    </div>
</header>


<section id="portfolio">
    <h4 style="color:black;text-align: center"> Data Exploration and Derived Insights</h4>
    <div class="container" id="plot2">
        <p align="center"> <script src="public/js/bookingPurchasePie.js"></script></p>
        <div>
            <table>
                <tr>
                    <td>
                        <img src="public/pic/platform.png" width="80%">
                    </td>
                    <td>
                        <img src="public/pic/gender.png" width="80%">
                    </td>
                </tr>
                <tr>
                    <th><br></th>
                </tr>
                <tr>
                    <td>
                        <img src="public/pic/session.png" width="80%">
                    </td>
                    <td>
                        <img src="public/pic/pageview.png" width="80%">
                    </td>

                </tr>
                <tr>
                    <td>
                        <img src="public/pic/SessionActivity_vs_BookingTicketsratio.jpg" width="80%">
                    </td>
                    <td>
                        <img src="public/pic/Weekday_vs_BookingRatio.jpg" width="80%">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="public/pic/Weekdays_vs_Bookings_and_total_visits.jpg" width="80%">
                    </td>
                    <td>
                        <img src="public/pic/previousvisit.png" width="80%">
                    </td>
                </tr>
            </table>
        </div>
        <h4 style="color:black;text-align: center"> Pie Chart: Shows how skewed the dataset is</h4>
    </div>

</section>

<!--<div id="demo">-->
<!--<span data-weight="91"> Gender </span>-->
<!--<span data-weight="21"> Date </span>-->
<!--<span data-weight="41"> SessionActivity</span>-->
<!--<span data-weight="13"> AddToCart </span>-->
<!--<span data-weight="78"> Traffic Channel </span>-->
<!--<span data-weight="91"> Session Duration </span>-->
<!--<span data-weight="21"> Page Views </span>-->
<!--<span data-weight="41"> osTypename</span>-->
<!--<span data-weight="13"> Days From Previous Visit </span>-->
<!--<span data-weight="78"> Exclusive Member </span>-->
<!--</div>-->
<section class="success" id="about">
    <div class="container" style="color: Black">
        <h1 style="color:black">Insights</h1>
        <h3 align="left">Increase in Traffic in the month of January:</h3>
        On analysis of the data we find that the site is much more active in the month of january as compared to the
        months of November and December (Refer visualization 1 for details). Generally one would think that the most use of the travel site would come in
        during one week before christmas, new year or even thanksgiving. Surprisingly, as per the data there is no such spike
        of traffic during such time. Instead, there was an unusual hike of both traffic and bookings in the month of January.
        Seems like people get enthusiastic about their travel plans during the new year.
        <h3 align="left">Exclusive users add to cart but don't book:</h3>
        Another interesting insight was when we found that 9314 instances where people added to cart, 9279 were Exclusive users.
        But when we checked the booked instances, the count was only 3021. It suggests that probably the users were waiting for
        some discounts because of which they haven't booked yet.
        <h3 align="left">Purchase money data is biased:</h3>
        We found that first of all this data is quite low in frequency, and then we also found that this data is only available
        for people who are exclusive members. Based on this information we can infer that this information is biased and may not be useful for further inferences.
        <h3 align="left">Traffic Channels:</h3>
        On first look, it looks like Channels "A" and "H" have the highest traffic and the booking purchases.
        But On looking at the ratio between number traffic and actual bookings, Channel "C" has the best ratio.
        So we can probably direct more advertisements towards channel "C".
        <h3 align="left">Top devices for accessing Trip Advisor:</h3>
        As per the trip Advisor's site, they claim that 42% of their traffic comes in from the smart phone market.
        <a href="http://ir.tripadvisor.com/releasedetail.cfm?ReleaseID=919990">Proof.</a>
        As per the data which we received, this makes sense. Most of the traffic comes from the PC or the laptop.
        It makes sense that we do not support the same metrics because the data is limited.
        <h3 align="left">Booking purchases is inversely proportional to features such as Session Activity, Session Duration and no. of Pages Visited:</h3>
        Based on this data, it looks like the more time the user spends on the site, either he is too confused, or he is just messing
        around with the trip advisor sales team who are hoping graciously that this user will finally select a location and book
        his ticket. But Alas! this is not what the data suggests, and its better to not to spend time on this user.
    </div>
    <br />
    <br />
    <div class="container" style="color: Black">
        <h1 style="color:black">Specification</h1>
        <b>NOTE:</b>All the insights and results are based on the data released by Trip Advisor for three months between Nov-2016
        to Jan-2017. Any irregularity or incorrect data does not represent the company's true status.
        <h3 align="left">Data Exploration and Analysis:</h3>
        We explored the data by using Excel and Tableau.
        <h3 align="left">Data Visualization:</h3>
        Data Visualization was done by D3 and Tableau. We used d3 for Brushing and linking of data which contains the date and
        the number of users visiting the site. We can zoom in and zoom out the dates based on the user's preference.
        We tried to cross-link the data brushed to the actual dataset of one million records. But due to such a large size of data,
        we were unable to get the other visualizations connected in time. so we decided to visualize all the other insights we had using
        Tableau.
        <h3 align="left">Machine Learning:</h3>
        <p>The backend is prediction models and deployed on python server using Flask.</p>

        <h5>Classifiers explored:</h5>
        <ul>
            <li>SVM - Linear</li>
            <li>SVM - RBF kernel</li>
            <li>Logistic Regression</li>
            <li>Decision Tree</li>
            <li>Random Forest</li>
            <li>Feed Forward Neural Network (on spark)</li>
        </ul>
        <br>
        <div class="center-block"  style="text-align:center">
            <img src="public/pic/flow.png" width="80%">
        </div>
        <br><br>
        <div class="center-block"  style="text-align:center">
            <p>Detailed workflow for parallel execution in spark</p>
            <img src="public/pic/sparkworkflow.png" width="90%">
        </div>
<br>
        <h3>Results from current system</h3>
<br>
        <h4>Confusion Matrix</h4>
        <br>
        <h5>Weighted 1's with a factor of 5. Accuracy: 81%</h5>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>0</th>
                <th>1</th>
                <!--<th>Username</th>-->
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>0</th>
                <td>96162</td>
                <td>60493</td>
                <!--<td>@mdo</td>-->
            </tr>
            <tr>
                <th>1</th>
                <td>840</td>
                <td>171709</td>
                <!--<td>@fat</td>-->
            </tr>
            </tbody>
        </table>

                <h5>Unweighted. Accuracy: 79%</h5>
        <table class="table table-inverse">
            <thead>
            <tr>
                <th>#</th>
                <th>0</th>
                <th>1</th>
                <!--<th>Username</th>-->
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>0</th>
                <td>109343</td>
                <td>47666</td>
                <!--<td>@mdo</td>-->
            </tr>
            <tr>
                <th>1</th>
                <td>15804</td>
                <td>156391</td>
                <!--<td>@fat</td>-->
            </tr>
            </tbody>
        </table>
    </div>




    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <h3 style="color: black">Machine Learning : Supervised learning algorithm: Time to test our system!!</h3>
            <form id="upload-data-form" enctype = "multipart/form-data">
                <div class="form-group"><br> <br>
                    <input type = "file" id="file-select" name = "files[]" multiple class="inputfile"/><br><br>
                    <!--<label for="file-select">Choose a file</label>-->
                    <input type = "submit" class="btn btn-primary" id="upload-button"/>
                </div>
            </form>
            <br>
            <br>
            <h2 id="prediction-result" style="text-align: center; color: teal"></h2>
        </div>
    </section>
    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Team members</h3>
                        <p>Akshaya Khare<br> Abhinav Maurya <br> Ronny Mathew <br> Sarita Joshi</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Datathon 2017</h3>
                        <ul class="list-inline">
                            <!--<li>-->
                            <!--<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>-->
                            <!--</li>-->
                            <!--<li>-->
                            <!--<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>-->
                            <!--</li>-->
                            <!--<li>-->
                            <!--<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>-->
                            <!--</li>-->
                            <!--<li>-->
                            <!--<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>-->
                            <!--</li>-->
                            <li>
                                <a href="https://github.com/abhinavmaurya/brown-datathon"><img src="public/pic/Octocat.jpg" width="50%"></a>
                            </li>
                            <li>
                                We @Github
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>YOLO Team</h3><br>
                        <p>
                            Northeastern University<br>
                            Boston</h3></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Yolo 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="public/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="public/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="public/js/jqBootstrapValidation.js"></script>
    <script src="public/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="public/js/freelancer.min.js"></script>

    <script>
        var form = document.getElementById('upload-data-form');
        var presult = document.getElementById('prediction-result');
        var fileSelect = document.getElementById('file-select');
        var uploadButton = document.getElementById('upload-button');
        form.onsubmit = function(event) {
            event.preventDefault();

            // Update button text.
            uploadButton.innerHTML = 'Uploading...';
            // Get the selected files from the input.
            var files = fileSelect.files;
// Create a new FormData object.
            var formData = new FormData();
// Loop through each of the selected files.
            for (var i = 0; i < files.length; i++) {
                var file = files[i];

//  // Check the file type.
//  if (!file.type.match('image.*')) {
//    continue;
//  }

                // Add the file to the request.
                formData.append('files[]', file, file.name);
            }

// Set up the request.
            var xhr = new XMLHttpRequest();

// Open the connection.
            xhr.open('POST', 'http://localhost:5000/upload', true);

// Set up a handler for when the request finishes.
            xhr.onload = function () {
                if (xhr.status === 200) {
                    // File(s) uploaded.
                    uploadButton.innerHTML = 'Upload';
                    console.log(xhr.responseText);
                    presult.innerText = xhr.responseText;
                } else {
                    alert('An error occurred!');
                }
            };

// Send the Data.
            xhr.send(formData);

        }
    </script>

</body>

</html>
