header{
    background: lightgray !important;
}
section.success{
    background: lightgray !important;
}
.navbar-custom{
    background: black !important;
}
footer .footer-above{

    background: black !important;

}
footer. footer-below {

    background: lightgray !important;
}
a, a.active, a:active, a:focus, a:hover {
    color: grey; !important;
}
button.navbar-toggle {
    background: grey !important;
}
.navbar-custom .navbar-nav li.active a, .navbar-custom .navbar-nav li.active a:active, .navbar-custom .navbar-nav li.active a:focus, .navbar-custom .navbar-nav li.active a:hover{
    background: grey !important;
    color: aqua !important;
}
.navbar-custom .navbar-nav li a:hover{
    color: grey !important;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}